# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
db.sqlite3
celery_broker.sqlite
*.log

# Node
node_modules/
dist/
dist-ssr
*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.gemini/
